MONGO_URI=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
IMG_KIT_PRIVATE_KEY=
IMG_KIT_PUBLIC_KEY=
IMG_KIT_URL_ENDPOINT=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GROQ_API_KEY=
NODE_ENV=development
PORT=3000
